body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Arial';
}

h1 {
    color: #2d346b;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -.02em;
    margin-bottom: 6px;
  }

.example-container {
  height: 100%;
  width: 100%;

  border: 1px solid #ffffff;
}

.barra-lateral {
  height: 100%;
  width: 28px;
  border: 1px solid #ffffff;
  align-content: center;
}